#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    height: 800px;
}

.row {
    flex: auto;
    /* border: 5px solid black; */
    display: flex;
}

.grid {
    flex: auto;
    border: 2px solid black;
}